allow untrusted_app mk_weather_service:service_manager find;
allow untrusted_app mk_status_bar_service:service_manager find;
allow untrusted_app mk_profile_service:service_manager find;

# Allow AOPT to call module_request
allow untrusted_app kernel:system module_request;

# Allow file and type transition for contexts
allow untrusted_app system_app_data_file:dir getattr;

# Allow interfacer to search app_data_file
allow untrusted_app app_data_file:dir r_dir_perms;